[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-chaincode-node-committers
	owner = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	read = deny group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-chaincode-node-committers
	create = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[access "refs/tags/*"]
	createTag = group ldap/hyperledger-gerrit-fabric-chaincode-node-committers
	createTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-chaincode-node-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	push = group ldap/hyperledger-gerrit-fabric-chaincode-node-committers
	push = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[project]
	description = Hyperledger Fabric NODE chaincode
	state = read only
