[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-chaincode-node-committers
	read = group GitHub Replication
[access "refs/tags/*"]
	createTag = group ldap/hyperledger-gerrit-fabric-chaincode-node-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-chaincode-node-committers
	push = group ldap/hyperledger-gerrit-fabric-chaincode-node-committers
